*{
    box-sizing: border-box;
}

:root{
    --custom-blue:#60A5FA;
    --custom-grey: #374151;
}
body,h1{
    margin: 0;
}
input::-webkit-input-placeholder {
    /* WebKit browsers */
    line-height: 1.5em;
}
#input-area{
    width: 100%;
    border: 1px solid var(--custom-grey);
    padding: 1rem;
    
}
textarea:focus{
    outline: none  !important;
      box-shadow: 0 0 10px var(--custom-blue);
}
.btn{
    margin: 1rem;
    padding: .5rem 1.5rem;
    border: none;
    background-color: var(--custom-blue);
    color: var(--custom-grey);
}
.output-text{
    width: 100%;
    min-height: 15vh;
    border: 1px solid black;
    overflow: scroll;
    padding: 1rem;
}
.navigation{
    height: 7rem;
    background-color:var(--custom-blue) ;
}
.navigation>h1{
    color: var(--custom-grey);
    text-align: center;
    padding: 2.5rem;
}
.container-center{
    display: block;
    padding: 3rem;
    max-width: 600px;
    margin: auto;
}
.non-bullet{
    list-style: none;
    text-align: center;
}
.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 1rem;
    background-color: var(--custom-blue);
}
.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}
.footer ul{
    padding: 0;
}
a{
    text-decoration: none;
}